.idea
.DS_Store
accounts/__pycache__/
accounts/__pycache__/urls.cpython-310.pyc
accounts/__pycache__/views.cpython-310.pyc
accounts/migrations
accounts/.DS_Store
accounts/templates/.DS_Store
blog/__pycache__
posts/__pycache__
posts/migrations
posts/.DS_Store
posts/templates/.DS_Store
dev_plan.txt
*.pyc
*.sqlite3