{% extends "accounts/base.html" %}

{% block title %}Страница входа{% endblock %}

{% block content %}

<div class="div-outer">
    <h1>Login page</h1>

    <form action="{% url 'accounts:user_login' %}" method="POST">
        {% csrf_token %}

        <div>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>

        <div>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <div>
            <input type="submit" value="Login">
        </div>

    </form>

</div>

{% endblock %}
