{% extends "accounts/base.html" %}

{% block title %}Страница регистрации{% endblock %}

{% block content %}

<div class="div-outer">

    <h1>Registration page</h1>

    <form action="{% url 'accounts:registration' %}" method="POST">
        {% csrf_token %}

        <div>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>

        <div>
            <input type="text" id="first_name" name="first_name" placeholder="First name">
        </div>

        <div>
            <input type="text" id="last_name" name="last_name" placeholder="Last name">
        </div>

        <div>
            <input type="email" id="email" name="email" placeholder="E-mail">
        </div>

        <div>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <div>
            <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm the password">
        </div>

        <div>
            <input type="submit" value="Sign up">
        </div>

    </form>

</div>

{% endblock %}
