{% extends "posts/base.html" %}

{% block title %}{{ post.title }}{% endblock %}


{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content|linebreaks }}</p>
<p>Pub date post: {{ post.pub_date }}</p>
<p>Update time post: {{ post.update_time }}</p>
<p>Author: <strong>{{ post.user.username }}</strong></p>
<a href="{% url 'posts:update' post.pk %}">Редактировать</a>
<a href="{% url 'posts:delete' post.pk %}">Удалить</a>
<hr>

{% if user.is_authenticated %}
<div class="leave-comment">
    <p><strong>Leave the comments</strong></p>
    <form action="{% url 'posts:detail' post.pk %}" method="POST">
        {% csrf_token %}
        <textarea name="comments"></textarea>
        <input type="submit" value="Leave a comment">
    </form>
</div>
{% endif %}

<p><strong>Comments:</strong></p>
{% if comments %}
    {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.user }}</strong>
            <p>{{ comment.content }}</p>
            <p>{{ comment.pub_date }}</p>
        </div>
    {% endfor %}
    {% else%}
    <div>
        <p>No comments</p>
    </div>
{% endif %}

{% endblock %}
